<!-- teacher.component.html -->


<button (click)="openModal()"
  class="flex items-center justify-center m-auto mb-5 bg-blue-500 text-white hover:text-blue-500 hover:bg-white border border-solid border-1 border-white hover:border-blue-700 p-4"
  type="button">
  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="h-6 w-6 mr-2">
    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4"></path>
  </svg>
  <span>Add teacher</span>
</button>

<div tabindex="-1" aria-hidden="true" *ngIf="showModal"
  class="bg-gray-500 bg-opacity-75 flex items-center overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center  w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
  <div class="relative p-4 w-full max-w-md max-h-full text-center">
    <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
      <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
        <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
          {{ editMode ? 'Update teacher' : 'Add New teacher' }}
        </h3>
        <button (click)="closeModal()" class="focus:outline-none p-2">
          <svg class="w-5 h-5 text-gray-400 hover:text-gray-500 dark:text-gray-300 dark:hover:text-gray-200"
            fill="currentColor" viewBox="0 0 20 20">
            <path fill-rule="evenodd" clip-rule="evenodd"
              d="M10.293 9.293a1 1 0 0 1 0 1.414l-3 3a1 1 0 1 1-1.414-1.414l3-3a1 1 0 0 1 1.414 0z"></path>
            <path fill-rule="evenodd" clip-rule="evenodd"
              d="M10 2a8 8 0 1 0 0 16 8 8 0 0 0 0-16zm1 13a1 1 0 0 1-2 0V9a1 1 0 1 1 2 0v6z"></path>
          </svg>
          <span class="sr-only">Close</span>
        </button>
      </div>

      <div class="p-4 md:p-5">


        <div class="p-4 md:p-5">
          <form class="p-4 md:p-5" (ngSubmit)="editMode ? updateTeacher() : addTeacher()" #answerForm="ngForm">
            <div class="grid gap-4 mb-4 grid-cols-1">
              <div class="col-span-2">
                <label for="specialty"
                  class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">specialty</label>
                <input type="text" id="specialty" name="specialty"
                  [(ngModel)]="newTeacher.value.specialty" required
                  class="block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-300 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-500 focus:ring focus:ring-blue-500 focus:ring-opacity-50">
              </div>
              <div class="col-span-2">
                <label for="firstName" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">First
                  Name</label>
                <input type="text" id="firstName" name="firstName" [(ngModel)]="newTeacher.value.firstName" required
                  class="block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-300 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-500 focus:ring focus:ring-blue-500 focus:ring-opacity-50">
              </div>
              <div class="col-span-2">
                <label for="lastName" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Last
                  Name</label>
                <input type="text" id="lastName" name="lastName" [(ngModel)]="newTeacher.value.lastName" required
                  class="block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-300 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-500 focus:ring focus:ring-blue-500 focus:ring-opacity-50">
              </div>
              <div class="col-span-2">
                <label for="dateOfBirth" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Date of
                  Birth</label>
                <input type="date" id="dateOfBirth" name="dateOfBirth" [(ngModel)]="newTeacher.value.dateOfBirth"
                  required
                  class="block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-300 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-500 focus:ring focus:ring-blue-500 focus:ring-opacity-50">
              </div>
              <div class="col-span-2">
                <label for="address"
                  class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Address</label>
                <input type="text" id="address" name="address" [(ngModel)]="newTeacher.value.address" required
                  class="block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-300 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-500 focus:ring focus:ring-blue-500 focus:ring-opacity-50">
              </div>


              <div class="flex items-center mt-6 space-x-2 rtl:space-x-reverse justify-center">
                <button type="submit"
                  class="text-white inline-flex items-center bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                  <svg class="me-1 -ms-1 w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                      d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z"
                      clip-rule="evenodd"></path>
                  </svg>
                  {{ editMode ? 'Update' : 'Add' }}
                </button>
                <button type="button"
                  class="text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600"
                  (click)="closeModal(); resetForm()">Cancel</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<h2 class="text-2xl font-semibold leading-tight mb-4">Teachers</h2>

<div class="overflow-hidden rounded-lg border border-gray-200 shadow-md m-5">
  <table class="w-full border-collapse bg-white text-left text-sm text-gray-500">
    <thead class="bg-gray-50">
      <tr>
        <th scope="col" class="px-6 py-4 font-medium text-gray-900">Full Name</th>
        <th scope="col" class="px-6 py-4 font-medium text-gray-900">speciality</th>
        <th scope="col" class="px-6 py-4 font-medium text-gray-900">Address</th>
        <th scope="col" class="px-6 py-4 font-medium text-gray-900">Date of Birth</th>
        <th scope="col" class="px-6 py-4 font-medium text-gray-900 text-center">Actions</th>
        
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let teacher of teachers" class="border-b hover:bg-gray-50">
        <td class="px-6 py-4">{{ teacher.firstName }} {{ teacher.lastName }}</td>
        <td class="px-6 py-4">{{ teacher.specialty }}</td>
        <td class="px-6 py-4">{{ teacher.address }}</td>
        <td class="px-6 py-4">{{ teacher.dateOfBirth }}</td>

        <td class="px-6 py-4">
          <div class="flex justify-center gap-4">
            <button type="submit" (click)="openModal(); editTeacher(teacher)"
              class="mr-3 bg-orange-500 text-white hover:text-black hover:bg-white border border-solid border-1 border-white hover:border-orange-700 p-4">
              Update
              <div class="icon-1">
              </div>
              <div class="icon-2">
              </div>
              <div class="icon-3">
              </div>
            </button>
            <button (click)="deleteTeacher(teacher)"
              class="mr-3 bg-red-600 text-white hover:text-black hover:bg-white border border-solid border-1 border-white hover:border-red-700 p-4">
              Delete
              <div class="icon-1">
              </div>
              <div class="icon-2">
              </div>
              <div class="icon-3">
              </div>
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>