<!-- salon.component -->
<div>
    <div class="w-full h-32"></div>

    <div class="" style="margin-top: -128px;">
        <div class="">
            <div class="flex border border-grey rounded shadow-lg screen-h">

                <div class="w-1/3 border flex flex-col">





                    <div class="bg-grey-lighter flex-1 overflow-auto">
                        <div class="px-3 flex items-center bg-grey-light cursor-pointer " *ngFor="let salon of salons">
                            <div>
                                <img class="h-12 w-12 rounded-full"
                                    src="https://darrenjameseeley.files.wordpress.com/2014/09/expendables3.jpeg" />
                            </div>
                            <div class="ml-4 flex-1 border-b border-grey-lighter py-4">
                                <button class="w-full" (click)="showSalonDetails(salon)" >
                                <div class="flex items-bottom justify-between">
                                    <p class="text-grey-darkest">
                                        {{ salon.name }}
                                    </p>
                                   
                                </div>
                              
                                </button>
                            </div>
                        </div>




                    </div>

                </div>

                <app-salon-details [chatMessages]="chatMessages" [selectedSalon]="selectedSalon" class="w-full"></app-salon-details>
            
            </div>
        </div>
    </div>
</div>
